<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Fonts&Icons -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lemon" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">admin <br><br><br></a></li>
        
        
      </ul>
    </div>
  </nav>

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  
  {{!-- <scrpit src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> --}}
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  

    {{!-- <link rel="stylesheet" href="/assets/js/materialize.min.js" /> --}}
    {{!-- <script src="/assets/js/jquery.min.js"></script> --}}
    {{!-- <link rel="stylesheet" href="/assets/materialize.min.css" /> --}}

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/assets/style.css" />

    <title>DogPoundKinder</title>
</head>

<body>
  <!-- Image -->
  <div class="container">
    <div class="row">
      <div class="col s4">
        <img src="/assets/img/logo.png" alt="logo" />
      </div>

      <!-- Title -->
      <div class="col s8">
        <div class="row titleTop">
          <span>Kinder</span>
        </div>
        <div class="row titleBottom">
          <span>Dog Pound</span>
        </div>
      </div>
    </div>

    <!-- buttons -->
    <div class="nav">
      
      <div>
        <a class="btn white waves-effect waves-light "a href="/adapt" >Adopt a Pet</a>
      </div>
      <div>
        <a class="btn white waves-effect waves-light "a href="/dogapedia">Dogapedia</a>
      </div>
      <div>
        <a class="btn white waves-effect waves-light "a href="/match" action>Match My Pet</a>
      </div>
      <div>
        <a class="btn white waves-effect waves-light "a href="/training">Training videos</a>
        
      </div>
       <div>
        <a class="btn white waves-effect waves-light "a href="/resources">Resources</a>
        
      </div>

    </div>
  </div>

  {{{body}}}

</body>

</html>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

   <!-- TITLE OF SITE -->
    <title>Anima - Responsive Pet Rescue and Shelter Template</title>
	
	<!-- META DATA -->
    <meta name="description" content="Anima is a Responsive Bootstrap 4 Pet Rescue and Shelter Template Which is Designed Based on Twitter Bootstrap 4.1.3, HTML5 and CSS3. It is also suitable for Non-Profit or any Charity Organization." />
    <meta name="keywords" content="animal rescue, pet rescue, animal shelter, pet shelter, animal rescue and shelter, non-profit, charity, pet rescue theme, animal rescue theme" />
    <meta name="author" content="CodePassenger">
	
	<!-- Mobile Specific Meta -->	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- =========================
      FAV AND TOUCH ICONS  
    ============================== -->
    <link rel="icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- =========================
       STYLESHEETS 
    ============================== -->
    <!-- PRELOADER -->
    <link rel="stylesheet" href="css/preloader.css">

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- GOOGLE FONTS -->
	 <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700%7CRaleway:100,200,300,400,500,600,700' rel='stylesheet'>
   
   <!-- FONT ICONS CSS -->
	<link rel="stylesheet" href="icons/styles.css">

   <!-- OWL CAROUSEL CSS -->
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.yellow.css">

   <!-- NIVO LIGHTBOX -->
	<link rel="stylesheet" href="css/nivo-lightbox/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo-lightbox/default.css">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="css/animate.css">

    <!-- RESPONSIVE FIXES -->
    <link rel="stylesheet" href="css/responsive.css">

    <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
    <![endif]-->

</head>