<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Fonts&Icons -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lemon" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
  <link href=“https://fonts.googleapis.com/css?family=Indie+Flower” rel=“stylesheet”>

  

  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <scrpit src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  

    </scrpit:src>

    <link rel="stylesheet" href="/assets/js/materialize.min.js" />
    <script src="/assets/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/materialize.min.css" />

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/assets/style.css" />

    <title>DogPoundKinder</title>
</head>

<body>
  <!-- Image -->
  <div class="container">
    <div class="row">
      <div class="col s4">
        <img src="/assets/img/logo.png" alt="logo" />
      </div>

      <!-- Title -->
      <div class="col s8">
        <div class="row titleTop">
          <span>Kinder</span>
        </div>
        <div class="row titleBottom">
          <span>Dog Pound</span>
        </div>
      </div>
    </div>

    <!-- buttons -->
    <div class="row btnRow">
      <div class="col s3">
        <a class="btn white waves-effect waves-light "a href="/match" action>Match My Pet</a>
      </div>
      <div class="col s3">
        <a class="btn white waves-effect waves-light "a href="/adapt" >Adapt a Pet</a>
      </div>
      <div class="col s3">
        <a class="btn white waves-effect waves-light "a href="/dogapedia">Dogapedia</a>
      </div>
      <div class="col s3">
        <a class="btn white waves-effect waves-light "a href="/training">Training videos</a>
        
      </div>
       <div class="col s3">
        <a class="btn white waves-effect waves-light "a href="/resources">Resources</a>
        
      </div>

    </div>
  </div>

  {{{body}}}
</body>

</html>