<!-- Section: Gallery -->
<section id="gallery" class="section section-gallery scrollspy">
  <div class="container">
    <h4 class="center">
      <span class="black-text">All Breed </span> Categories
    </h4>
    <a href="/" class="btn btn-danger btn-lg">
      <span class="fa fa-eye"></span> All Pets</a>

    <a href="/all" class="btn btn-danger btn-lg">
      <span class="fa fa-th-list"></span> Adapted</a>

    <a href="/all" class="btn btn-danger btn-lg">
      <span class="fa fa-th-list"></span> Male</a>

    <a href="/all" class="btn btn-danger btn-lg">
      <span class="fa fa-th-list"></span> Show all pets</a>

    <div class="row card">

      <div class="col s12 m6 l4">
        <img src="assets/img/dogs/dog6.jpg" class="materialboxed responsive-img card">
      </div>
      <div class="col s12 m6 l4">
        <img src="assets/img/dogs/dog6.jpg" class="materialboxed responsive-img card">
      </div>
      <div class="col s12 m6 l4">
        <img src="assets/img/dogs/dog6.jpg" class="materialboxed responsive-img card">
      </div>


      <div class="col s12 m6 l4">
        <img src="assets/img/dogs/dog6.jpg" class="materialboxed responsive-img card">
      </div>

      <div class="col s12 m6 l4">
        <img src="assets/img/dogs/dog6.jpg" class="materialboxed responsive-img card">
      </div>
      <div class="col s12 m6 l4">
        <img src="assets/img/dogs/dog6.jpg" class="materialboxed responsive-img card">
      </div>

      <div class="col s12 m6 l4">
        <img src="assets/img/dogs/dog6.jpg" class="materialboxed responsive-img card">
      </div>
      <div class="col s12 m6 l4">
        <img src="assets/img/dogs/dog6.jpg" class="materialboxed responsive-img card">
      </div>
      <div class="col s12 m6 l4">
        <img src="assets/img/dogs/dog6.jpg" class="materialboxed responsive-img card">
      </div>
    </div>

  </div>
</section>