<div class="container">
    <div class="jumbotron">
        <h1>Admin Page - add Dogs</h1>
        <hr>
        <a href="/" class="btn btn-danger btn-lg">
            <span class="fa fa-eye"></span> Search Pets</a>
            
        <a href="/all" class="btn btn-danger btn-lg">
            <span class="fa fa-th-list"></span> Show all pets</a>
    </div>
    <div class="row">

        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                    Admin Page - add Dogs
                </div>
                <div class="card-body">
                    <form action="" method="POST" role="form">

                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Gender</label>
                            <input type="text" class="form-control" id="gender" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Breed</label>
                            <input type="text" class="form-control" id="breed" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Age</label>
                            <input type="text" class="form-control" id="age" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Vaccinated</label>
                            <input type="text" class="form-control" id="vaccinated" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Size</label>
                            <input type="text" class="form-control" id="size" placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="">Photo</label>
                            <input type="text" class="form-control" id="photo" placeholder="">
                        </div>



                    </form>
                    <br>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary btn-md" id="add-btn">
                            <span class="fa fa-fire"></span> Add to inventory</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4 id="" style="text-align:center;"> </h4>
    <div id="dog_content" class="row"></div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () {

    $('.modal').modal();

    // initializing the select options
    //$('select').formSelect();

    $('#add-btn').on('click', function (event) {

        // add a validation instead of prevent default?

        event.preventDefault();

        let dog_data = {
            dog_name: $('#name').val().trim(), 
            gender: $('#gender').val().trim(),
            Breed: $('#breed').val().trim(),
            age: parseInt($('#age').val().trim()),
            Vaccinated: $('#vaccinated').val().trim(),
            size: $('#size').val().trim(),
            photo: $('#photo').val().trim()
        };

        $.post("/inventory", dog_data, function(data) {
            // Grab the result from the AJAX post so that the best match's name and photo are displayed.
            //location.href = `/best_match/${data.category}/${data.name}`;
            //console.log(data);
            //alert(data.dog_name + );
            //$('.modal').open();
            $('.modal').modal('open');

            $('#dog_content').html(`
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                        <img src="${data.photo}" style="width:336.14px;height:224.09px;">
                        <span class="card-title"></span>
                        </div>
                        <div class="card-content">
                        <p></p>
                        </div>
                        <div class="card-action" style="text-align:center;">
                        <a href="#">${data.dog_name}</a>
                        </div>
                    </div>
                </div>
            `);
        });


    });

});

</script>

