<div class="container" style="margin-top:10px;">
  <div class="row" style="display:grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: auto;grid-column-gap:10px;grid-row-gap:10px;">
    {{#each videos}}
    <div>
      <div class="card">
        <div class="card-image" style="display: flex; justify-content: center; padding: 10px;">
          <img src="{{snippet.thumbnails.medium.url}}" style="width:336.14px;height:224.09px;">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p></p>
        </div>
        <div class="card-action" style="text-align:center;">
          <a href="#modal1" class="modal-trigger" onclick="javascript: changeVideo('{{id.videoId}}', '{{trim snippet.title 65}}')">{{trim snippet.title 32}}</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4 id="video_title" style="text-align:center;"> </h4>
    <div id="video_content" style="display: flex; justify-content: center;"></div>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $('.modal').modal({
      onCloseStart: function() {
        $('#video_content').html('');
      }
    });
  });

  function changeVideo(videoId, title) {
    $('#video_title').text(title);
    $('#video_content').html(
      `<iframe width="640" height="360" src="https://www.youtube.com/embed/${videoId}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe>`
    )
  }
</script>