* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/hypnotize.png);
    background-position: center center; 
    background-size:     cover;         

}

img {
  width: 120%;
  margin-left: 5px;
}

.teal {
  background-color: #0c59ac !important;
  background-image:url(img/dog-phone.jpg);
  background-position: center center; 
  background-size:     cover; 
  width:620px; 
  height: 250px;
}

.btn-group{

  color:black;
}

.btn, .btn-large {
    text-decoration: none;
    color: rgb(43, 43, 43);
    background-color: rgb(225, 225, 2);
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    /* padding-left: 30px; */
    
    
    
}

.btnRow {
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
}

.row.titleTop {
  margin-top: 5px;
  font-size: 120px;
  margin-bottom: unset;
  text-align: center;
  font-family: 'Lemon', cursive;
  

}

.row.titleBottom {
  margin-bottom: unset;
  text-align: center;
  font-family: 'Monoton', cursive;
  font-size: 100px;
  margin-right:14px;
  
}

h4 {
  font-family: 'Indie Flower', cursive;
}

.btnRow {
  font-family: 'Gaegu', cursive;

  
}

.fixed-action-btn, button{
  font-family: 'Gaegu', cursive;

  text-decoration: none;
  
}
/* Dogapedia--------------------------------------------------- */


  
#banner-message {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.2s;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

#breed_data {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  font-size: 12px;
  transition: all 0.2s;
  /* margin-left: 640px; */
  /* width: 500px; */
}

#breed_image {
  /* background: rgb(255, 255, 255); */
  width: 460px;
  
}


#breed_data2{

  /* margin-left:650px; */
  /* width: 1200px; */
  background-color:white;
}




.nav {
  display: flex;
  justify-content: space-between;
}

.location{
  font-size: 30px;
}


#modaladmin{

  list-style-type: none;
}

.card .card-image {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-action{
  list-style-type: none;
}
.card .card-content {
  margin-top:50px;
}
.surveryQ{
  text-align:center;
}
.modaldesc{
  font-size: 35px;
  text-align:center;
}
/* Dogapedia--------------------------------------------------- */